html {
	display: table;
	margin: auto;
}

body {
	display: table-cell;
	vertical-align: middle;
	min-width: 20em;
}

form {
	padding-top: 5em;
	padding-bottom: 5em;
}

* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span {
	font-weight: bold;
}

.success {
	background-color: lightgreen;
}

.failure {
	background-color: lightsalmon;
}

table {
	width: 100%;
	border: 1px solid #000;
}

th,
td {
	text-align: left;
	vertical-align: top;
	border: 1px solid #000;
	border-collapse: collapse;
	padding: 0.3em;
	caption-side: bottom;
}

caption {
	padding: 0.3em;
	color: #fff;
	background: #000;
}

th {
	background: #eee;
}
